{% extends "base.html" %}
{% block content %}
   {% load bootstrap %}
    
    {% if productForArt_list %}
    <section class="productsStartpage">
        <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            фильтры
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form>
                {{ filter.form|bootstrap }}
                <button type="submit", class="btn btn-primary" >отфильтровать</button>
            </form>
          </div>
        </div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for productForArt in filter.qs %}
<div class="card" style="width: 18rem;margin: 10px">
    <div style="height: 180px; width: 286px; background-image: url({{ productForArt.pictureProductForArt.url }}); background-size: cover;
  background-position: center;" ></div>
  <!-- <img class="card-img-top" src="{{ productForArt.pictureProductForArt.url }}" alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">{{ productForArt.title }}</h5>
    <p class="card-text">{{ productForArt.description }}</p>
    <a href="/command/{{ card.id }}/color" class="btn btn-primary">в карзину</a>
    <a href="/{{productForArt.id}}" class="btn btn-primary">подробнее</a>
  </div>
</div>

    {% endfor %}
  </div>
</section> {% else %} <p>товара нету</p>{% endif %}
{% endblock content %}
